/playgrounds/migration/.serverless_plugins
**/node_modules
/playgrounds/migration/.migrations_build
**/lib
**/tsconfig.tsbuildinfo
**/tsconfig.build.tsbuildinfo
/.idea/
/*.iml
**/*.log
/yarn.lock
/packages/migration-tool-api/yarn.lock
